pipeline/Historical.json
{
	"name": "Historical",
	"properties": {
		"activities": [
			{
				"name": "Fetch_api",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://opwapikey.vault.azure.net/secrets/OWAPIKEY/cea7dedf48c04bb99455798ba5a72532?api-version=7.0",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net/"
					}
				}
			},
			{
				"name": "Hourly",
				"type": "ForEach",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('weeks')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "APIKEY",
									"value": "@activity('Fetch_api').output.value"
								}
							],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "Json1",
									"type": "DatasetReference",
									"parameters": {
										"APIKEY_PARAM": {
											"value": "@variables('API')",
											"type": "Expression"
										},
										"Start": "@item()[0]",
										"End": "@string(item()[1])"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Json2",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Until_weeks",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Fetch_api",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greaterOrEquals(int(pipeline().parameters.Curr_time),int(variables('End_time')))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Append_timestamp",
							"type": "AppendVariable",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "weeks",
								"value": {
									"value": "@[variables('Start_time'),variables('End_time')]",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Increment_Start",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Copy data2",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Start_time",
								"value": {
									"value": "@string(add(int(variables('End_time')),1))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Increment_End",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Increment_Start",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "End_time",
								"value": {
									"value": "@string(add(int(variables('Start_time')),int(pipeline().parameters.week_increment)))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy data2",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "data/2.5/history/city?lat=42.36&lon=-71.05&type=hour&start=@{string(variables('Start_time'))}&end=@{string(variables('End_time'))}&appid=@{variables('API')}\n\n\n"
								},
								{
									"name": "Destination",
									"value": "cdsds598dlhwak/Bronze/Historical/"
								}
							],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['message']"
											}
										},
										{
											"source": {
												"path": "$['cod']"
											}
										},
										{
											"source": {
												"path": "$['city_id']"
											}
										},
										{
											"source": {
												"path": "$['calctime']"
											}
										},
										{
											"source": {
												"path": "$['cnt']"
											}
										},
										{
											"source": {
												"path": "['dt']"
											}
										},
										{
											"source": {
												"path": "['main']['temp']"
											}
										},
										{
											"source": {
												"path": "['main']['feels_like']"
											}
										},
										{
											"source": {
												"path": "['main']['pressure']"
											}
										},
										{
											"source": {
												"path": "['main']['humidity']"
											}
										},
										{
											"source": {
												"path": "['main']['temp_min']"
											}
										},
										{
											"source": {
												"path": "['main']['temp_max']"
											}
										},
										{
											"source": {
												"path": "['wind']['speed']"
											}
										},
										{
											"source": {
												"path": "['wind']['deg']"
											}
										},
										{
											"source": {
												"path": "['wind']['gust']"
											}
										},
										{
											"source": {
												"path": "['clouds']['all']"
											}
										},
										{
											"source": {
												"path": "['weather'][0]['id']"
											}
										},
										{
											"source": {
												"path": "['weather'][0]['main']"
											}
										},
										{
											"source": {
												"path": "['weather'][0]['description']"
											}
										},
										{
											"source": {
												"path": "['weather'][0]['icon']"
											}
										}
									],
									"collectionReference": "$['list']"
								}
							},
							"inputs": [
								{
									"referenceName": "Json3",
									"type": "DatasetReference",
									"parameters": {
										"API": {
											"value": "@activity('Fetch_api').output.value",
											"type": "Expression"
										},
										"Start": "@variables('Start_time')",
										"End": "@variables('End_time')"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Json4",
									"type": "DatasetReference"
								}
							]
						}
					],
					"timeout": "0.12:00:00"
				}
			}
		],
		"parameters": {
			"Start_time": {
				"type": "string",
				"defaultValue": "1698033600"
			},
			"Curr_time": {
				"type": "string",
				"defaultValue": "1727064000"
			},
			"week_increment": {
				"type": "string",
				"defaultValue": "604800"
			}
		},
		"variables": {
			"Start_time": {
				"type": "String",
				"defaultValue": "1698033600"
			},
			"End_time": {
				"type": "String",
				"defaultValue": "1698638400"
			},
			"API": {
				"type": "String",
				"defaultValue": "value"
			}
		},
		"annotations": []
	}
}